<div id="home-container" class="home-container">
	<div class="localisation-section">
		<form action="#" id="localise">
			<h4>Choose your location</h4>
			<select id="cities" name="cities" class="">
				<option value="tunis">Grand tunisia</option>
				<option value="sfax">Sfax</option>
			</select>
			<select id="region" name="region" class="">
				<option value="benarous">Ben Arous</option>
				<option value="arina">Ariana</option>
				<option value="tunis">tunis</option>
				<option value="mannouba">Mannouba</option>
			</select>
		</form>			
	</div>
	<hr>
	<div class="list-container">
		
	</div>
</div>