<div>
	<div class="menu-contain">
		<div class="contain">
			<h3>Insalata Fresca Primavera</h3>
			<p>
				Laitue , tomates cerises , champignons , roquette , courgette grillée , fromage , mozzarella et noix
			</p>
			<p class = "price">21,000dt</p>
			<img src="add1.png">
		</div>
		<hr>
	


			<div class="contain">
				<p>
					<h3>Caperse Con Mozzarella Di Bufala</h3>
			
					Salade tomate fraîche , mozzarella , basilic
				</p>
				<p class = "price">21,000dt</p>
				<img src="add1.png">
			</div>
			<hr>
			
			


			<div class="contain">
				<p> 
					<h3>Insalata Di Burrata Con Rucola</h3>
			
					Boule de fromage italien , roquette , tomates cerises , basilic
				</p>
				<p class = "price">21,000dt</p>
				<img src="add1.png">
			</div>
		<hr>

		

		<div class="contain">
			<p>
				<h3>Insalata Di Polipo Con Carciofi</h3>
			
				Salade de poulpe , artichaut
			</p>
			<p class = "price">21,000dt</p>
			<img src="add1.png">
		</div>
			<hr>
			


		<div class="contain">
			<p>
				<h3>Carpaccio Di Manzo Con Burrata E Tartufo</h3>
			
				Carppaccio de beauf , roquette , parmesan , buratta truffe , pignon
			</p>
			<p class ="price">21,000dt</p>
			<img src="add1.png">
		</div>
		
	</div>
	<div class="pay">
		<img id ="char"src="chariot.png">
		<p>
			<h3>Your order</h3>
			<p> Total = </p>
		</p>
		<button id="pay_butn">Purchase</button>
	</div>
</div>